*.cfu
src/.project
*.cfl
*.lgd
*.orig

/src/Configuration/ConfigDumpInfo.xml

/allure-reports
/autotest-bia
/ci4onec
/spec/build/ib
/tys

autotest.json
VBParams.json

/allure-report/*
/buildstatus.log


/*_pid*.log

*.*.bak

# IDE
tests/.settings/*
.metadata/
*/.settings/com._1c.g5.v8.dt.platform.services.core.prefs
*/.settings/EnvLaunchModeIndex.prefs

# Binary
*/bin/*

#wsdl
/fixtures/wsdl
documentation/api/
*.jar
/tools/**/distr/
workpath/
.env

/context/