name: Создание черновика релиза
on:
  push:
    tags:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.number }}-release
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  export_to_designer:
    name: Конвертация исходников в формат конфигуратора
    uses: ./.github/workflows/step-export-xml.yml
    with:
      edt_version: 2023.1.2
      artifact_name: designer-src
      engine_only: true
    secrets: inherit
  
  build_artifacts:
    name: Сборка артефактов
    runs-on: ubuntu-latest
    needs: export_to_designer
    
    steps:
      - name: Установка 1С:Предприятие 8.3.21.1895
        uses: 1CDevFlow/onec-setup-action@main
        with:
          type: onec
          onec_version: 8.3.21.1895
          cache: true
        env: 
          ONEC_USERNAME: ${{ secrets.ONEC_USERNAME }}
          ONEC_PASSWORD: ${{ secrets.ONEC_PASSWORD }}
        timeout-minutes: 10

      - name: Загрузка исходников в формате конфигуратора
        uses: actions/download-artifact@v4
        with:
          name: designer-src

      - name: Распаковка исходников
        run: |
          mkdir export
          cd export
          7z x ../export.7z -y

      - name: Создание пустой информационной базы
        run: ibcmd infobase create --db-path=file-db
        timeout-minutes: 5
  
      - name: Импорт YAxUnit из исходников
        run: ibcmd infobase config import --db-path=file-db --extension=YAXUNIT export/yaxunit
        timeout-minutes: 5
    
      - name: Импорт Smoke из исходников
        run: ibcmd infobase config import --db-path=file-db --extension=Smoke export/smoke
        timeout-minutes: 5
    
      - name: Сохрание расширения YAxUnit
        run: ibcmd infobase config save --db-path=file-db --extension=YAXUNIT YAxUnit-${{ needs.export_to_designer.outputs.yaxunit_version }}.cfe
        timeout-minutes: 5
        
      - name: Сохрание расширения Smoke
        run: ibcmd infobase config save --db-path=file-db --extension=Smoke Smoke-${{ needs.export_to_designer.outputs.smoke_version }}.cfe
        timeout-minutes: 5
        
      - name: Создание черновика релиза ${{ needs.export_to_designer.outputs.yaxunit_version }}
        uses: softprops/action-gh-release@v2
        if: ${{ success() }}
        with:
          draft: true
          files: '*.cfe'
          fail_on_unmatched_files: true
          generate_release_notes: true
          append_body: false
          name: Версия ${{ needs.export_to_designer.outputs.yaxunit_version }}
          token: ${{ secrets.GITHUB_TOKEN }}

