name: Конвертация исходников в формат конфигуратора
on:
  workflow_call:
    inputs:
      edt_version:
        type: string
        required: true
      
      artifact_name:
        type: string
        required: true
      
      engine_only:
        type: boolean
        required: false
        default: false
    outputs:
      yaxunit_version:
        value: ${{ jobs.export.outputs.yaxunit_version }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}-${{ github.event.number }}-export
  cancel-in-progress: true

jobs:
  export:
    name: Конвертация
    runs-on: ubuntu-latest
    outputs:
      yaxunit_version: ${{ steps.extract_version.outputs.version }}
    
    steps:
    - name: Извлечение исходников PR
      if: github.event_name == 'pull_request_target' || github.event_name == 'pull_request'
      uses: actions/checkout@v4
      with:
        ref: refs/pull/${{ github.event.number }}/merge # Для поддержки pull_request и pull_request_target

      
    - name: Извлечение исходников ветки ${{ github.ref_name }}
      if: github.event_name == 'push'
      uses: actions/checkout@v4

    - name: Извлечение версии проекта
      uses: ./.github/actions/extract-version
      with:
        path: ./exts/yaxunit/src
      id: extract_version

    - name: Установка 1C:EDT
      uses: alkoleft/onec-setup-build-env-action@develop
      with:
        type: edt
        edt_version: ${{ inputs.edt_version }}
        cache: true
      env: 
        ONEC_USERNAME: ${{ secrets.ONEC_USERNAME }}
        ONEC_PASSWORD: ${{ secrets.ONEC_PASSWORD }}
      timeout-minutes: 30
        
    - name: Ковертация исходников конфигурации
      if: ${{ !inputs.engine_only }}
      uses: alkoleft/onec-edtcli-command-action@main
      with:
        export: true
        from: fixtures/demo-configuration
        to: export/configuration
        timeout: 5
      timeout-minutes: 10
      
    - name: Ковертация исходников YAxUnit
      uses: alkoleft/onec-edtcli-command-action@main
      with:
        export: true
        from: exts/yaxunit
        to: export/yaxunit
        timeout: 5
      timeout-minutes: 10
      
    - name: Ковертация исходников тестов
      if: ${{ !inputs.engine_only }}
      uses: alkoleft/onec-edtcli-command-action@main
      with:
        export: true
        from: tests
        to: export/tests
        timeout: 5
      timeout-minutes: 10
    
    - name: Упаковка исходников в архив
      run: |
        cd export
        7za a -t7z ../export.7z ./

    - name: Публикация исходников в формате конфигуратора
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.artifact_name }}
        path: export.7z
        if-no-files-found: error
        retention-days: 1
